{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb","plugin:prettier/recommended"],
  "plugins": [
      "react",
      "jsx-a11y",
      "import"
  ],
  "parser": "babel-eslint",
  "rules": {
    "new-cap": [
      2
    ]
  }
}
